[Unit]
Description=Python Prometheus App
After=network.target

[Service]
User=abbas
WorkingDirectory=/home/abbas
ExecStart=/usr/bin/python3 python-app.py
Restart=always

[Install]
WantedBy=multi-user.target
